n8n_workflow/rag_workflow.json
{
  "name": "RAG Chat — v1.1.3 PT-BR",
  "nodes": [
    {
      "id": "a1b2c3d4-0001-0001-0001-000000000001",
      "name": "Chat Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [240, 300],
      "parameters": {
        "httpMethod": "POST",
        "path": "rag-chat",
        "responseMode": "responseNode",
        "options": {}
      }
    },
    {
      "id": "a1b2c3d4-0002-0002-0002-000000000002",
      "name": "AI Agent",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.7,
      "position": [520, 300],
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.body.message }}",
        "options": {
          "systemMessage": "Você é um assistente de inteligência artificial especializado em análise de documentos técnicos e acadêmicos. Sua função é fornecer respostas precisas, objetivas e formais baseando-se estritamente nos documentos recuperados da base de dados. Utilize exclusivamente o Português do Brasil (PT-BR) em nível culto. Caso a informação não esteja presente nos documentos, informe formalmente que a base técnica atual não possui dados suficientes para responder à solicitação."
        }
      }
    },
    {
      "id": "a1b2c3d4-0003-0003-0003-000000000003",
      "name": "Ollama Chat Model",
      "type": "@n8n/n8n-nodes-langchain.lmChatOllama",
      "typeVersion": 1,
      "position": [380, 520],
      "parameters": {
        "model": "llama3.2",
        "options": {
          "temperature": 0.1
        }
      },
      "credentials": {
        "ollamaApi": {
          "id": "REPLACE_WITH_CREDENTIAL_ID",
          "name": "Ollama — Local"
        }
      }
    },
    {
      "id": "a1b2c3d4-0004-0004-0004-000000000004",
      "name": "Vector Store Retriever",
      "type": "@n8n/n8n-nodes-langchain.retrieverVectorStore",
      "typeVersion": 1,
      "position": [660, 520],
      "parameters": {
        "topK": 4
      }
    },
    {
      "id": "a1b2c3d4-0005-0005-0005-000000000005",
      "name": "Qdrant Vector Store",
      "type": "@n8n/n8n-nodes-langchain.vectorStoreQdrant",
      "typeVersion": 1,
      "position": [660, 720],
      "parameters": {
        "qdrantCollection": {
          "__rl": true,
          "value": "rag_documents",
          "mode": "id"
        },
        "options": {}
      },
      "credentials": {
        "qdrantApi": {
          "id": "REPLACE_WITH_QDRANT_CREDENTIAL_ID",
          "name": "Qdrant — Local"
        }
      }
    },
    {
      "id": "a1b2c3d4-0006-0006-0006-000000000006",
      "name": "HuggingFace Embeddings",
      "type": "@n8n/n8n-nodes-langchain.embeddingsHuggingFaceInference",
      "typeVersion": 1,
      "position": [880, 720],
      "parameters": {
        "model": "sentence-transformers/paraphrase-multilingual-mpnet-base-v2"
      },
      "credentials": {
        "huggingFaceApi": {
          "id": "REPLACE_WITH_HF_CREDENTIAL_ID",
          "name": "HuggingFace — Token"
        }
      }
    },
    {
      "id": "a1b2c3d4-0007-0007-0007-000000000007",
      "name": "Respond to Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [800, 300],
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ { \"output\": $json.output, \"session_id\": $('Chat Webhook').item.json.body.session_id } }}",
        "options": {}
      }
    }
  ],
  "connections": {
    "Chat Webhook": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Ollama Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Vector Store Retriever": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Qdrant Vector Store": {
      "ai_vectorStore": [
        [
          {
            "node": "Vector Store Retriever",
            "type": "ai_vectorStore",
            "index": 0
          }
        ]
      ]
    },
    "HuggingFace Embeddings": {
      "ai_embedding": [
        [
          {
            "node": "Qdrant Vector Store",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "meta": {
    "templateCredsSetupCompleted": false,
    "instanceId": "streamlit-rag-v1"
  }
}
